	<div class="showform">
		<h3>Edit your info:</h3>
		<%= simple_form_for @user, :url => "/users/#{@user.id}", :method => "patch" do |f| %>
			<%= f.input :first_name %>
			<%= f.input :last_name %>
			<%= f.input :email, input_html: { value: @email_for_form } %>
			<%= f.input :zip_code %>
			<%= f.input :about %>
			<%= f.button :submit %>
		<% end %>
	</div>
	<div class="form">
		<h3>Share a picture!</h3>
		<form action="/picture" method="post">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<p>Picture URL: <input type="url" name="picture_url"></p>
			<input type="submit" value="Submit">
		</form>
	</div>

	<% if @on_diet %>
		<div class="showform">
			<h3>Update:</h3>
			<form action="/update" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<p>Current weight: <input type="number" name="current_weight"></p>
				<input type="submit" value="update">
			</form>
		</div>
	<% else %>
		<div class="sform">
			<h3>Start your diet!</h3>
			<form action="/start_diet/" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<p>Start weight: <input type="number" name="start_weight"></p>
				<p>Goal weight: <input type="number" name="goal_weight"></p>
				<p>End date: <input type="date" name="end_date" value="<%= @default_end_date %>"></p>
				<input type="submit" value="Start">
			</form>
		</div>
	<% end %>