
<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<div id="img-container">
			<div id="img1"></div>
			<div id="img2"></div>
			<div id="img3"></div>
			<div id="img4"></div>
		</div>
		<div id="header">
			<div id="box">
				<%= image_tag("logo1.gif")%> <span id="text">BRN</span><span id="text2">Notice</span>
			</div>
			<div id="box2">
				<% if current_user %>
			<table>
				<% @users.each do |user| %>
					<tr><td><img src="<%= user.profile_picture %>"></td>
						<td><a href="/users/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></td>
						<td><%= user.about %></td>
					</tr>
				<% end %>
			</table>
			<span id="button"><%= link_to "Logout", logout_path, method: :delete %></span>
				<% else %>
				<a href="/login"><span id="button">Login</span></a>
				<% end %>
			</div>
			<div id="midbox">
				<p>Official Diet Announcements</p>
				<p>Increased Success Rate // Social Accountablity // Actual Results</p>
			</div>
		</div> <!-- header end -->
		<div id="header2">
			<h2>how it works</h2>
			<div id="microbox">
				<span class="glyphicon glyphicon-scale"></span>
				<p>Make your diet Public or Private<br>
				(1)</p>
			</div>
			<div id="microbox">
				<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
				<p>Choose How Many Days for your diet<br>
				(2)</p>
			</div>
			<div id="microbox">
				<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
				<p>Notify Your Friends and Family<br>
				(3)</p>
			</div>
			<div id="microbox">
				<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
				<p>Burn Weight Off and Update the Journey<br>
				(4)</p>
			</div>
			<div id="microbox">
				<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
				<p>ENJOY the HEALTHIER YOU!<br>
				(5)</p>
			</div>	
		</div> <!-- header2 end -->
		<div id="body">
			<div id="joinbox">
				<h3>It Isn't Real Until You...</h3>
				<a href="/register"><button>Announce A Diet Journey!</button></a>
			</div> <!-- joinbox end -->
			<div id="innerbody">
				<div id="body1">
					<p>Studies show a 19% increased success when a diet is announced publicly to friends and family.</p>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> <span id="bodyheadline">You Are Not Alone</span>
					<p>This <b>FREE</b> platform encourages your sphere of influnce to make lifestyle changes to help you on your path.</p>
					<p> Those same individuals will also hold you accountable for your food choices and commitment to your goal.</p>
					<span class="glyphicon glyphicon-grain" aria-hidden="true"></span> <span id="bodyheadline">Change Those Around You</span>
					<p> BRN Notice encourages others to join you on your path. Add them to your team. Compete against other teams. Achieve a life of bliss with the ones closest to your hear.</p>
				</div>
				<div id="body2">
					<div id="group"></div>
				</div>
			</div>
			<div id="lastbody">
				<p>I didn't want to let the Internet people down. <span id="orange">No matter what life change you need to make, do it publicly.</span> Make sure you're sharing your struggles with people who care about you.<br>
				<span id="name">- Ben Davis (Lost 120lbs)</span></p>
				<div id="bendiv">
					<div id="ben"></div>
				</div>
			</div> <!-- lastbody end -->
			<div id="bigspace">
				<div id="box9">
					<%= image_tag("logo1.gif")%> <span id="text9">BRN</span><span id="text10">Notice</span>
				</div>
			</div>
		</div> <!-- body end -->
		
>>>>>>> Stashed changes
