<style type="text/css">
	div.form{
		width: 400px;
		border: 5px solid black;
		padding: 25px;
		margin-bottom: 25px;
	}

	h3{
		margin: 0px;
	}
</style>

<img src="<%= @user.profile_picture %>"><h1><u><%= @user.first_name %> <%= @user.last_name %></u></h1>

<% if current_user == @user %>
	<div class="form">
		<h3>Edit your info:</h3>
		<%= simple_form_for @user, :url => "/users/#{@user.id}", :method => "patch" do |f| %>
			<%= f.input :first_name %>
			<%= f.input :last_name %>
			<%= f.input :email, input_html: { value: @email_for_form } %>
			<%= f.input :zip_code %>
			<%= f.input :about %>
			<%= f.button :submit %>
		<% end %>
	</div>
	<div class="form">
		<h3>Share a picture!</h3>
		<form action="/picture" method="post">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<p>Picture URL: <input type="url" name="picture_url"></p>
			<input type="submit" value="Submit">
		</form>
	</div>

	<% if @on_diet %>
		<div class="form">
			<h3>Update:</h3>
			<form action="/update" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<p>Current weight: <input type="number" name="current_weight"></p>
				<input type="submit" value="update">
			</form>
		</div>
	<% else %>
		<div class="form">
			<h3>Start your diet!</h3>
			<form action="/start_diet/" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<p>Start weight: <input type="number" name="start_weight"></p>
				<p>Goal weight: <input type="number" name="goal_weight"></p>
				<p>End date: <input type="date" name="end_date" value="<%= @default_end_date %>"></p>
				<input type="submit" value="Start">
			</form>
		</div>
	<% end %>
<% else %>
	<% if @user.about %><b>About me</b>: <%= @user.about %><% end %>
<% end %>

<% if @pictures.length > 0 %>
	<h1>Pictures!</h1>
	<% @pictures.each do |picture| %>
		<img src="<%= picture.picture %>">
	<% end %>
<% end %>

<% if @progress_chart_data %>
	<h1>Progress!</h1>
	<%= area_chart [{name: "", data: @progress_chart_data}, {name: "Goal weight", data: @goal_weight_data}], min: @user.goal_weight - 10, stacked: false, library: {legend: 'none'} %>
	<table>
		<tr><th>Date</th>
			<th>Weight</th>
		</tr>
		<% @progress_chart_data.each do |created_at, current_weight| %>
			<tr><td><%= created_at.strftime("%Y-%m-%d") %></td>
				<td><%= current_weight %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<h1>Comments!</h1>

<% if current_user %>
	<%= simple_form_for @comment, :url => "/comments" do |f| %>
		<%= f.hidden_field :recipient, value: @user.id %>
		<%= f.input :comment %>
		<%= f.button :submit, "Leave comment" %>
	<% end %>
<% end %>
<table>
<%= render partial: "comments/comment", collection: Comment.where(recipient: @user) %>
</table>