<style type="text/css">
	div.form{
		width: 400px;
		border: 5px solid black;
		padding: 25px;
		margin-bottom: 25px;
	}

	h3{
		margin: 0px;
	}
</style>

<img src="<%= @user.profile_picture %>"><h1><u><%= @user.first_name %> <%= @user.last_name %></u></h1>

<% if current_user == @user %>
	<div class="form">
		<h3>Edit your info:</h3>
		<%= simple_form_for @user, :url => "/users/#{@user.id}", :method => "patch" do |f| %>
			<%= f.input :first_name %>
			<%= f.input :last_name %>
			<%= f.input :email, input_html: { value: @email_for_form } %>
			<%= f.input :zip_code %>
			<%= f.input :about %>
			<%= f.button :submit %>
		<% end %>
	</div>
	<% if !@on_diet %>
		<div class="form">
			<h3>Start your diet!</h3>
			<form action="/start_diet/" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<p>Start weight: <input type="number" name="start_weight"></p>
				<p>Goal weight: <input type="number" name="goal_weight"></p>
				<p>End date: <input type="date" name="end_date" value="<%= @default_end_date %>"></p>
				<input type="submit" value="Start">
			</form>
		</div>
	<% end %>
<% end %>