<!DOCTYPE html>
<html>
<head>
  <title>BrnNotice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_user %>
		<p>Hello, <%= current_user.first_name %>!</p>
		<p><img src="<%= current_user.profile_picture %>"></p>
		<p><%= link_to "Log out", logout_path, method: :delete %></p>
	<% end %>

	<% flash.each do |key, value| %>
		<%= value %>
	<% end %>


	<%= yield %>

</body>
</html>
